.profile__add-button {
    min-width: 150px;
    max-height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    margin: 35px 0 0 auto;
    background: url(../../../images/Profile__add_button.svg) no-repeat 50% 50%;
}

@media (max-width: 767px) {
    .profile__add-button {
        min-width: 282px;
        min-height: 50px;
        margin: 18px auto 0;
        background-size: 16px 16px;
    }
}