@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/_edit/profile__avatar-edit.css);
@import url(./blocks/list/list.css);
@import url(./blocks/list-element/list-element.css);
@import url(./blocks/list-element/__header/list-element__header.css);
@import url(./blocks/list-element/__container/list-element__container.css);
@import url(./blocks/list-element/__title/list-element__title.css);
@import url(./blocks/list-element/__like/list-element__like.css);
@import url(./blocks/list-element/__like/_active/list-element__like_active.css);
@import url(./blocks/list-element/__trash/_visible/list-element__trash_visible.css);
@import url(./blocks/list-element/__trash/_hidden/list-element__trash_hidden.css);
@import url(./blocks/list-element/__picture/list-element__picture.css);
@import url(./blocks/list-element/_counter-likes/list-element__counter-likes.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/hover/hover.css);
@import url(./blocks/pointer/pointer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__content/_place/popup__content_place.css);
@import url(./blocks/popup/__content/_form/popup__content_form.css);
@import url(./blocks/popup/__content/_confirm/popup__content_confirm.css);
@import url(./blocks/popup/__content/_avatar/popup__content_avatar.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/_card/popup_card.css);
@import url(./blocks/popup/__error/_avatar/popup__error_avatar);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_card/popup__title_card.css);
@import url(./blocks/popup/__title/_card/popup__titile_card-confirm.css);
@import url(./blocks/popup/__title/_avatar/popup__title_avatar.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_item/popup__form_item.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_about-me.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__save/_avatar/popup__save_avatar.css);